.body{
    background-color: #DAD4B5;
}


.cabecalho1{
    background-color: #A73121;
    padding-left: 60vw;
    padding-top: 1vh;
    width: 100%;
    height: 3vw;
}

.links1{
    margin-left: 1vw;
    color: #DAD4B5;
    text-decoration: none;
}
.links2{
    margin-left: 1vw;
    text-decoration: none;
    color: #DAD4B5;
}

.title3{
    font-family: "Encode Sans SC", sans-serif;
    font-size: 6vw;
    margin-bottom: 1px;
    margin-top: 10vw;
    margin-left: 3vw;
}
.subtext{
    margin-left: 3vw;
}